<div style="text-align:center">
    <img src="~/Content/Images/cart-empty.png" alt="" /><br />
    Không có sản phẩm nào trong giỏ hàng của bạn.<br /><br />
    <a class="le-button" href="/Home/Index">Continue shopping</a>
</div>
