
@{
    ViewBag.Title = "NewBlog";
    Layout = "~/Admin/Views/Share/_LayoutAmin.cshtml";
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/Admin/AdminIndex">Dish</a>
                <i class="fa fa-angle-right"></i>
                <a href="#"><span>Add</span></a>
            </h2>
        </div>
        <!--//banner-->
        <!--grid-->
        <div class="grid-form">
            <!---->
            <div class="grid-form1">
                <div style="margin-left: 200px;"><h3>Add New Dish</h3></div>

                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal" action="/Admin/AddNewBlog" method="post">
                            <!--Title-->
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control1" name="dish_title" value="" id="focusedinput" required placeholder="Input dish's title">
                                </div>
                            </div>
                            <!--Dish Image-->
                            <div class="form-group">
                                <label for="exampleInputFile" class="col-sm-2 control-label">Dish Image</label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="file" accept="image/png, image/jpeg, image/gif" name="dish_image" value="">
                                    <p class="help-block">Choose one image for Dish banner</p>
                                </div>
                            </div>
                            <!--Dish Step by step-->
                            <div class="form-group">
                                <label for="exampleInputFile" class="col-sm-2 control-label">Step by step</label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" name="dish_image" value="" placeholder="Step 1">
                                </div>
                            </div>
                            <!--Dish Category-->
                            <div class="form-group">
                                <label for="exampleInputFile" class="col-sm-2 control-label">Dish Category</label>
                                <div class="col-sm-8 col-md-8">
                                    <select>
                                        <option value="volvo">Gym Food</option>
                                        <option value="saab">Healthy Food</option>
                                        <option value="mercedes">Daily Food</option>
                                    </select>
                                </div>
                            </div>
                            <!--Description-->
                            <div class="form-group">
                                <label for="txtarea1" class="col-sm-2 control-label">Dish Description</label>
                                <div class="col-sm-8 col-md-8">
                                    <textarea name="blog_description" id="blog_description" cols="100" rows="6" class="form-control1"></textarea>
                                    <script>CKEDITOR.replace('blog_description');</script>
                                </div>
                            </div>
                            <!--Publisher-->
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Publisher</label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" min="0" value="Admin" readonly class="form-control1" name="publisher" id="focusedinput" required placeholder="Input name publisher">
                                </div>
                            </div>

                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button class="btn-primary btn" type="submit">Submit</button>
                                        <button class="btn-inverse btn" type="reset">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--//grid-->
                <!---->
                <div class="copy">
                    <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
